/* Navbar brand text */
.logo__title {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

/* Space between logo and menu */
.navbar-header-items__center {
    margin-left: 50px;
}

/* Custom text highlights for GUI text, files, inputs, and URLs */

.gui {
    background-color: #f0f0f0;
    padding: 0px 6px;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    font-size: 90%;
}

code.file {
    color: #aa4100;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 0px 6px;
    border-radius: 5px;
    display: inline-block;
    font-size: 90%;
}
code.file .pre {
    color: #aa4100;
}

code.input {
    font-family: monospace;
    color: firebrick;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 0px 6px;
    border-radius: 5px;
    display: inline-block;
    font-size: 90%;
}

/* Format ``inline code`` */
code.docutils.literal.notranslate:not(.input):not(.file) {
    padding: 5px 6px 3px;
    background-color: #f7f7f7;
    border-radius: 5px;
}
code.docutils.literal.notranslate:not(.input):not(.file) .pre {
    color:#4F459D;
    font-size: 100%;
}

/* Format code blocks */
div[class^="highlight"] {
    border-radius: 5px;
}
div[class^="highlight"] pre {
    color: #4453C3;
    font-size: 85%;
    padding: 0.5rem;
}

/* Let table text wrap */
.wy-table-responsive table td {
    text-wrap-mode: normal;
    white-space: normal;
}

a.reference.external code.file span {
    font-family: monospace;
    font-weight: normal;
    color: #aa4100;
    font-size:95%;
    border-color: #2a7ae2;
}